
  <div id="comment-issue"><%= c.content %></div>
  <% if c.user %>
    <strong id="username-issue"><%= c.user.username %></strong></br>
    <%= form_for c.issue do |f| %>
      <%= f.hidden_field :answer_id, :value => c.id %>
      <%= f.submit "accept", :id => "button-issue", :class => "btn btn-mini btn-success" %>
    <% end %>
  <% end %>


