<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Submitted By</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% issues.each do |issue| %>
    <tr>
      <td><strong><%= link_to issue.title, issue_path(issue) %></strong></td>
      <td><%= link_to issue.description, issue_path(issue) %></td>
      <td><%= issue.user.username %></td>
      <td><strong><%= issue.status %></strong></td>
      <td><%= link_to 'Edit', edit_issue_path(issue), :class => "btn btn-mini"%></td>
    </tr>
    <% end %>
  </tbody>
</table>
