<!-- <p id="notice"><%#= notice %></p> -->

<h3><%= @issue.title %> (<%= @issue.user.username %>)</h3>
<h4><%= @issue.description %></h4>
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %> |
<%= link_to 'Destroy', @issue, method: :delete, data: {confirm: 'Are you sure?'} %>
<h5>Status: <%= @issue.aasm_state %></h5>
<h5>Created <%= time_ago_in_words(@issue.created_at) %> ago...</h5>
<h5>Answer accepted from: <%= @answerer.username if @answerer %></h5>

<!-- New Issue.comment Form -->
<h5>Submit a comment or question on the issue!</h5>
<%= form_for([@issue, @comment]) do |f| %>
  <%= f.text_field :content%>
  <%= f.submit "Submit", :class => "btn btn-mini" %>
<% end %>
<!-- Issue.comments -->
<% @issue.comments.each do |c| %>
  - <%= c.user.username %>: <%= c.content %></br>
<% end %>

<!-- New Issue.answer Form -->
<h5>Submit an answer!</h5>
<%= form_for([@issue, @answer]) do |f| %>
  <%= f.text_field :content%>
  <%= f.submit "Submit", :class => "btn btn-mini" %>
<% end %>


<% @issue.comments.each do |c| %>
<%= div_for c, :class => "well" do %>
   <%= render 'comments/answer', :c => c %>
  Comment id:  <%= c.id %></br>
   <span class="votes">(<%= c.total_votes %>)</span>

   |<%= link_to "up", vote_comment_path(c, vote: 'up'), method: "post", :remote => true %>|
   <%= link_to "down", vote_comment_path(c, vote: 'down'), method: "post", :remote => true %>|
  <% end %>
<% end %>

