<p id="notice"><%= notice %></p>

<h3><%= @issue.title %> (<%= @issue.user.username %>)</h3>
<h4><%= @issue.description %></h4>
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %> |
<%= link_to 'Destroy', @issue, method: :delete, data: {confirm: 'Are you sure?'} %>
<h5>Status: <%= @issue.aasm_state %></h5>
<h5>Created <%= time_ago_in_words(@issue.created_at) %> ago...</h5>
<h5>Answer accepted from: <%= @answerer.username if @answerer %></h5>

<!-- New Issue.comment Form -->
<h5>Submit a comment or question on the issue!</h5>
<%= form_for([@issue, @comment]) do |f| %>
  <%= f.text_field :content%>
  <%= f.submit "Submit", :class => "btn btn-mini" %>
<% end %>
<!-- Issue.comments -->
<% @issue.comments.each do |c| %>
  - <%= c.user.username %>: <%= c.content %></br>
<% end %>

<!-- New Issue.answer Form -->
<h5>Submit an answer!</h5>
<%= form_for([@issue, @answer]) do |f| %>
  <%= f.text_field :content%>
  <%= f.submit "Submit", :class => "btn btn-mini" %>
<% end %>


<!-- Issue.answers -->


<% @issue.answers.each do |a| %>
<div class="well">
 <%= render 'answer', :a => a %>
 Answer id:  <%= a.id %></br>
 (vote count goes here)

 |<%#= link_to "up", vote_issue_comment_path(c, value: 1, comment_id: c), method: "post" %>|
 <%#= link_to "down", vote_issue_comment_path(c, value: -1, comment_id: c), method: "post" %>|
</div>
<% end %>

