<p id="notice"><%= notice %></p>

<h3><%= @issue.title %> <span style="font-size: 0.8em">(status > <%= @issue.status %>)</span></h3>
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %> |
<%= link_to 'Destroy', @issue, method: :delete, data: { confirm: 'Are you sure?' } %>
<h4><%= @issue.description %></h4>
<h5>
  <% if @answerer %>
    Answer Submitted by: <%= @answerer.username %>
  <% end %>
</h5>

<!-- New Comment Form -->
<h5>Submit a solution or comment!</h5>
<%= form_for([@issue, @comment]) do |f| %>
  <%= f.text_field :content%>
  <%= f.submit "Submit", :class => "btn btn-mini" %>
<% end %>

<!-- Issue.comments -->


<% @issue.comments.each do |c| %>

 <%= render 'comments/answer', :c => c %>
<% end %>